html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.recentPanels {
    background-color: #a1a1a1;
    color: #f2f2f2;
    padding: 5px;
    border-radius: 8px;
    width: 48.5%;
    margin: auto;
    height: 10rem;
    text-align: center;
}

.recentPanelsAbove {
    background-color: #007589;
    color: #f2f2f2;
    padding: 5px;
    border-radius: 8px;
    width: 48.5%;
    margin: auto;
    height: 10rem;
    text-align: center;
}

.recentPanelsBelow {
    background-color: #cc3333;
    color: #f2f2f2;
    padding: 5px;
    border-radius: 8px;
    width: 48.5%;
    margin: auto;
    height: 10rem;
    text-align: center;
}

.averageChart {
    background-color: #a1a1a1;
    border-radius: 8px;
    padding: 5px;
    width: 66%;
}

.dataChart {
    background-color: #a1a1a1;
    border-radius: 8px;
    padding: 5px;
    width: 33%;
    margin: auto;
    display: inline-block;
    margin-top: 0;
    height: 20.5rem;
}

.mainStats {
    background-color: #a1a1a1;
    color: #f2f2f2;
    border-radius: 8px;
    padding: 5px;
    width: 24%;
    margin: auto;
    height: 10rem;
    text-align: center;
}

/*  Score sheet style    */
.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
}

/* Header row: just numbers centered */
.header-box {
    border: 1px solid #000;
    text-align: center;
    font-weight: bold;
    background-color: #a1a1a1;
    margin: 2px;
    border-radius: 8px;
}

/* Second row container box */
.container-box {
    border-top: 1px solid #000;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}

/* Two smaller boxes inside container */
.small-box {
    border: 1px solid #000;
    background-color: #898989;
    height: 3rem;
    width: 3rem;
    box-sizing: border-box;
    margin: 2px;
    border-radius: 8px;
    align-content: center;
}

.input-box {
    border: 1px solid #000;
    text-align: center;
    background-color: #a1a1a1;
    margin: auto;
    margin-top: 1rem;
    border-radius: 8px;
    width: 95%;
}

.score-button {
    margin: 5px;
    width: 13%;
    height: 2rem;
    border-radius: 8px;
}

.frame-total {
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
    font-size: 24pt;
}