@page "/games"
@using BowlingGameManager
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Bowling Score Calculator</PageTitle>

<h3>Game</h3>

<div class="bowling-game-container">
    @for (var i = 0; i < 10; i++){
        var frame = _gameManager.Frames[i];
        <div class="frame">
            <h5>Frame @(i + 1)</h5>

            <!-- Score Entry Section -->
            <div style="display:flex; margin: auto;">
                <!-- First shot value -->
                <input type="number" min="0" max="10" @bind="frame.FirstShot" />

                <!-- Second shot value -->
                <input type="number" min="0" max="10" @bind="frame.SecondShot" />

                <!-- Third Roll (for the 10th frame) -->
                @if (i == 9 && (frame.IsStrike || frame.IsSpare)){
                    <input type="number" min="0" max="10" @bind="frame.BonusShot" />
                }
            </div>

            @if (_gameManager.FrameScores.Count > 0 && i < _gameManager.FrameScores.Count){
                <p>@_gameManager.FrameScores[i]</p>
            } else {
                <p> </p>
            }
        </div>
    }
</div>
<br />

@if (_gameManager.TotalScore() > 0){
    <h4>Total Score: @_gameManager.TotalScore()</h4>
}

@code {
    private BowlingGame _gameManager = new BowlingGame();
}