@page "/"
@using FrameFocus.Shared.Services
@using FrameFocus.PageManagers
@using Microsoft.AspNetCore.Components.Web
@inject IFormFactor FormFactor

<PageTitle>FrameFocus</PageTitle>

<h2> Recent </h2>

<!--    Top Row (Average chart and overall data)    -->
<div style="width: 100%; display:flex;">
    <!--    Left side content   -->
    <div style="width: 33%; margin: auto; display: inline-block;">
        <div style="display:flex;">
            <div class="recentPanels">
                <h4>Average</h4>
                <h4 style="margin-top: 2.5rem;"> 204.3</h4>
            </div>

            <div class="recentPanels">
                <h4>Strike Percentage</h4>
                <h4 style="margin-top: 2.5rem;"> 48%</h4>
            </div>
        </div>

        <div style="display:flex; margin-top: 0.5em;">
            <div class="recentPanels">
                <h4>Spare Percentage</h4>
                <h4 style="margin-top: 2.5rem;"> 42%</h4>
            </div>

            <div class="recentPanels">
                <h4>Open Percentage</h4>
                <h4 style="margin-top: 2.5rem;"> 10%</h4>
            </div>
        </div>
    </div>

    <!--    Right Side Content  -->
    <div class="averageChart">
        <h4> Line chart of averages will go here (eventually) </h4>
        <p> Showing average(s) over time </p>
    </div>
</div><br />

<h2>Overall</h2>

<!--    Second Row (Strike/Spare/Open Chart, Game Details)-->
<div style="width: 100%; display:flex; margin-top: 1em;">
    <!--    Left Side Content   -->
    <div style="width: 66%; margin: auto; display: inline-block;">
        <div style="display:flex;">
            <div class="mainStats">
                <h4>Average</h4>
            </div>

            <div class="mainStats">
                <h4>Strike Percentage</h4>
            </div>

            <div class="mainStats">
                <h4>Spare Percentage</h4>
            </div>

            <div class="mainStats">
                <h4>Open Percentage</h4>
            </div>
        </div>

        <div style="display:flex; margin-top:0.5em;">
            <div class="mainStats">
                <h4>High Game</h4>
            </div>

            <div class="mainStats">
                <h4>Highest Series</h4>
            </div>

            <div class="mainStats">
                <h4>Highest Average</h4>
            </div>

            <div class="mainStats">
                <h4>Handicap</h4>
            </div>
        </div>
    </div>

    <!--    Right Side Content  -->
    <div class="dataChart">
        <h4> Pie chart will go here </h4>
        <p> Showing visual comparison of Strike/Spare/Open frame percentage</p>
    </div>
</div>

@code {
    private HomePageManager _pageManager = new HomePageManager();
}